* {
    margin: 0;
    padding: 0;
}


.wrapper {
    width: 1400px;
    height: 4510px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.title {
    padding-top: 107px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-transform: uppercase;
}

hr {
    width: 64px;
    height: 2px;
    margin: 30px auto;
    border: 0;
    background: orange;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #86878B
}

.our_process {
    padding: 80px 0 107px;
    font-size: 0;
}

.box {
    display: inline-block;
    width: 350px;
    margin: 0 16px;
}

h2 {
    margin: 29px 0;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.icon {
    width: 70px;
    height: 70px;
    border: 2px solid orange;
    border-radius: 50%;
    margin: 0 auto;
}

.icon-lamp {
    background: no-repeat center url(../img/lamp.png);
}

.icon-keyboard {
    background: no-repeat center url(../img/keyboard.png);
}

.icon-lightning {
    background: no-repeat center url(../img/lightning.png);
}

.custom_section {
    background: no-repeat center url(../img/city-background.jpg) #363434;
    height: 325px;
    background-size: cover;
    background-blend-mode: soft-light;
}

.title-custom_section {
    font-family: 'Raleway', sans-serif;
    padding-top: 79px;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
}
.line-custom_section {
    background: white;
}

.text-custom_section {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    opacity: 0.8;
}

button {
    border: 3px solid white;
    background: none;
    font-size: 15px;
    width: 135px;
    height: 42px;
    margin: 33px auto;
    color: white;
}


.footer_panel {
    background-color: rgba(0, 0, 0, 1);
    height: 103px;
}

.social-media-icons {
    padding-top: 40px;
}

.copyright {
    color: #FFFFFF;
    padding-top: 5px;
    size: 12px;
}
